<footer>

  {{ site.title }}/{{ page.permalink_name | replace: "/", "" | replace: " ", "-" }}
  <br><br>
  {% if site.email and site.email != "" %}
    Email: <a href="mailto:{{site.email}}">{{site.email}}</a>
  {% endif %}

  {% if site.github_username and site.github_username != "" %} 
    Github: <a href="https://github.com/{{site.github_username}}">@{{ site.github_username }}</a>
  {% endif %}
  {% if site.linkedin_username and site.linkedin_username != "" %} 
    Linkedin: <a href="https://linkedin.com/in/{{site.linkedin_username}}">/{{ site.linkedin_username }}</a> 
  {% endif %}
  

</footer>
